.header_div {
    background-color: rgba(237, 255, 251, 1.0);
    width: 100%;
    text-align: center;
    padding-top: 166px;
    padding-bottom: 80px;
}

body {
    padding: 0 0 100px 0;
    margin: 0;
}

.header_div_text{
    color:#282828;
    font-family: serif;
    font-weight: bold;
    font-size: 40px;
    margin-left: 5% ;
    margin-right: 5%    ;
}

p{
    margin-block:0;
}

.faq_span{
    color: #14B08B;
}

.grid-container-form
{
    display: grid;
    grid-template-columns: auto auto;
    margin-top: 16px;
}

.secondary_header{ 
    color: #595959;
    font-style: normal;
    font-weight: bold;
    font-size: 25px;
    line-height: 168%;
    margin-top: 60px;
}

.dropdown
{
    background-color: rgba(255, 238, 209, 0.2);
    color: black;
    font-size: 20px;
    font-weight: normal;
    font-style: normal;
    padding: 25px;
    border-radius:5px;
}

.lower_body
{
    padding-left: 50px;
    padding-right: 50px;
}

.arrow
{
    float: right;
}

.form_input
{
    border-radius: 5px;
    border-width: 1px;
    padding: 23px;
    font-size: 20px;
}

.form_input.col1
{
    margin-right: 20px;
}

.form_input.row1
{
    margin-bottom: 20px;
}

.secondary_header.messages
{
    margin-top: 90px;
}

.form-input-text-area
{
    margin-top: 16px;
    width: auto;
    border-radius: 5px;
    border-width: 1px;
    padding: 23px;
    font-size: 20px;
}

#submit-form
{
    float: right;
    color: white;
    background-color: #14B08B;
    padding: 30px 130px;
    font-size: 25px;
    font-weight: bold;
    margin-top: 40px;
    border-radius: 5px;
    margin-bottom: 400px;
}